
.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .return {
  align-self: flex-start;
  margin:  20px 20px 35px 20px;
  cursor: pointer;
}

.header .diference {
  width: 72px;
  height: 72px;
}
.header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .title h1 {
  margin-bottom: 0.15rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.header .title p {
  margin-top: 0;
  margin-bottom: 1.8rem;
}

#poke-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 330px;
  height: 380px;
  border-radius: 1rem;
}

#poke-image img {
  max-width: 225px;
}

.details h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}

.types .type {
  filter: brightness(1.1);
  padding: 0.825rem;
  border-radius: 1rem;
  margin: 0.6rem 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: 100%;
    margin: 1rem auto;
    padding-bottom: 6rem;
    border-radius: .5rem;
  }
}
