@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;;
  box-sizing: border-box;
  color: #2e3057;
}

body {
  background-color: #f6f8fc;
}

a {
  text-decoration: none;
  padding: -1rem;
}

.normal {
  background-color: #e1e1cb;
}

.grass {
  background-color: #d4e6cc;
}

.fire {
  background-color: #fcdcc7;
}

.water {
  background-color: #cfd7f9;
}

.electric {
  background-color: #fef4db;
}

.ice {
  background-color: #dff4f4;
}

.ground {
  background-color: #f6edcc;
}

.flying {
  background-color: #eae3fc;
}

.poison {
  background-color: #e3c1e3;
}

.fighting {
  background-color: #f9c8c3;
}

.psychic {
  background-color: #fcced9;
}

.dark {
  background-color: #d6cbc1;
}

.rock {
  background-color: #f2edcc;
}

.bug {
  background-color: #eef3cc;
}

.ghost {
  background-color: #d9d3e7;
}

.steel {
  background-color: #ececf5;
}

.dragon {
  background-color: #d8c9fe;
}

.fairy {
  background-color: #fcf0f4;
}

