@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;;
  box-sizing: border-box;
  color: #2e3057;
}

body {
  background-color: #f6f8fc;
}

a {
  text-decoration: none;
  padding: -1rem;
}

/* background card */
.normal {
  background-color: #e1e1cb;
}

.grass {
  background-color: #d4e6cc;
}

.fire {
  background-color: #fcdcc7;
}

.water {
  background-color: #cfd7f9;
}

.electric {
  background-color: #fef4db;
}

.ice {
  background-color: #dff4f4;
}

.ground {
  background-color: #f6edcc;
}

.flying {
  background-color: #eae3fc;
}

.poison {
  background-color: #e3c1e3;
}

.fighting {
  background-color: #f9c8c3;
}

.psychic {
  background-color: #fcced9;
}

.dark {
  background-color: #d6cbc1;
}

.rock {
  background-color: #f2edcc;
}

.bug {
  background-color: #eef3cc;
}

.ghost {
  background-color: #d9d3e7;
}

.steel {
  background-color: #ececf5;
}

.dragon {
  background-color: #d8c9fe;
}

.fairy {
  background-color: #fcf0f4;
}

/* background-types-icon */

.bug-icon {
  background: #92BC2C;
}

.dark-icon {
  background: #595761;
}

.dragon-icon {
  background: #0C69C8;
}

.electric-icon {
  background: #F2D94E;
}

.fire-icon {
  background: #FBA54C;
}

.fairy-icon {
  background: #EE90E6;
}

.fighting-icon {
  background: #D3425F;
}

.flying-icon {
  background: #A1BBEC;
}

.ghost-icon {
  background: #5F6DBC;
}

.grass-icon {
  background: #5FBD58;
}

.ground-icon {
  background: #DA7C4D;
}

.ice-icon {
  background: #75D0C1;
}

.normal-icon {
  background: #A0A29F;
}

.poison-icon {
  background: #B763CF;
}

.psychic-icon {
  background: #FA8581;
}

.rock-icon {
  background: #C9BB8A;
}

.steel-icon {
  background: #5695A3;
}

.water-icon {
  background: #539DDF;
}
